.App {
  text-align: center;
  background-color: #a0d468;
}

body {
  background-color: #a0d468;
  color: #f5f7fa;
}

.input {
  display: flexbox;
}

.AddExpense {
  background-color: #56c7ff;
  color: white;
}