div {
    background-color: white;
}

#title {
    /* font-size: 60px; */
    color: black;
    /* align-items: left; */
}

#number_amount {
    color: red
}

/* #total_amount {
    font-size: 50px;
    align-items: right;
    color: black;
} */

.App {
    text-align: center;
    background-color: white;
}

body {
    background-color: white;
    color: black;
}

/* input {
    padding-left: 15px;
    /* margin-right: 30px; */
/* margin-left: 30px;
    font-size: 30px;
    height: 65px;
    width: 311;
    margin: 15px;
} */
*/
/* #type {
    margin-left: 30px;
    padding-left: 15px;
    font-size: 30px;
    height: 65px;
    width: 311;
    margin: 15px;
} */

/* .AddExpense:hover {
    background-color: darkgreen;
} */

/* .AddExpense:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
} */

/* .AddExpense {
    background-color: #56c7ff;
    color: white;
} */

/* label {
    justify-items: left;
    text-align: left;
    font-size: 35px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 20px;
} */

/* form {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    padding: 50px;
    border: #f5f7fa;
    height: auto;
    margin-bottom: 40px;
    width: 90%;
    /* justify-items: center; */
/* background-color: rgb(245, 232, 232);
    color: black; */

/* } */

#datelable {
    padding-right: 200px;
}

/* button {
    margin-top: 82;
    margin-bottom: 40px;
    height: 30px;
    /* width: 300px; */
/* font-size: 25px; */
/* 
< !-- HTML !--><button class="button-18" role="button">Button 18</button> */

/* CSS */
/* .button-18 {
    align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

.button-18:hover,
.button-18:focus {
    background-color: #16437E;
    color: #ffffff;
}

.button-18:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}

.button-18:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
} */